
Project1/.idea/workspace.xml
Project1/.idea/inspectionProfiles/profiles_settings.xml
Project1/.idea/inspectionProfiles/Project_Default.xml
Project1/.idea/workspace.xml
Project1/.Rhistory
Project1/.Rhistory
Project1/.Rhistory
.DS_Store
Project5/.Rhistory
Project4/.idea/modules.xml
Project4/.idea/libraries/R_User_Library.xml
*.xml
Project3/.Rhistory
*.xml
Project4/.idea/misc.xml
Project4/.idea/libraries/R_User_Library.xml
