# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

Makefile.bak
data/gorGor3-small-noN.fa.c_tables
data/gorGor3-small-noN.fa.o_tables.chr1
data/gorGor3-small-noN.fa.suffix_arrays.chr1
mappers_src/bw_readmapper
mappers_src/bw_readmapper_src/bw_readmapper
data/gorGor3-tiny-noN.fa
data/gorGor3-tiny-noN.fa.c_tables
data/gorGor3-tiny-noN.fa.o_tables.chr1
data/gorGor3-tiny-noN.fa.suffix_arrays.chr1
data/test.fq
mappers_src/bar-single.fa.c_tables
mappers_src/bar-single.fa.o_tables.chr1
mappers_src/bar-single.fa.suffix_arrays.chr1
mappers_src/ac.sam
mappers_src/gorGor3-tiny-noN.fa
mappers_src/gorGor3-tiny-noN.fa.c_tables
mappers_src/gorGor3-tiny-noN.fa.o_tables.chr1
mappers_src/gorGor3-tiny-noN.fa.suffix_arrays.chr1
mappers_src/test.fq
mappers_src/ac-small.sam
mappers_src/bw-small.sam
mappers_src/head-ac-small.sam
mappers_src/head-bw-small.sam
mappers_src/test2.fq

*.log
*.bak
